body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
    background:url(images/bg2.jpg) no-repeat 0 0 fixed;
    background-size: cover;
}
 #pixie{position:fixed;}


.content {
  max-width: 85%;
  margin: 0 auto;
  position: relative; 
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

ul{
	margin: 0;
	padding-left: 0;
}

img{
	max-width: 100%;
	vertical-align: middle;
}


.header{
	&_wrap{
		background-color: transparent;
		padding: 0.5em 0;
	}
	&_logo{
		float: left;		
	}
	&_text{
		padding: 1.5em 0 0;
		float: right;
		font-weight: 400;
		text-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.16);
		font-size: 18px;
		color: #fff;
		text-align: center;
		&_hover{
			display: none;
		}
		&:hover{
			.header_text_phone{
				display: none;
			}
			.header_text_hover{
				display: block;
			}
		}
	}
}

@media screen and (max-width: 480px ) {
	.header{
		&_wrap{
			padding: 0.5em 0;
		}
		&_logo{
			float: none;	
			text-align: center;	
		}
		&_text{
			float: none;
			text-align: center;	
		}
	}
}


.main{
	&_bg{
		padding: 40px 0 10px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		overflow:hidden;
		backface-visibility: hidden;
		width: 100%;
		height: 100%;		
		box-shadow: 0px 0px 81px rgba(193,39,45,0.5), 
								0px 0px 81px rgba(193,39,45,0.5);
	} 	
	&_caption{		  
		text-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.43);
		color: white;
		font-size: 25px;
		text-align: left;
		margin-left: 2%;
		&_top{
			font-size: 36px;
			font-weight: 700;
			strong{
				font-size: 60px;
			}
		}
		&_bottom{
			color: #FFFF00;
			font-size: 58px;
			font-weight: 700;
			text-shadow: 5px 5px 3px rgba(0,0,0,0.7);
		}
	}
	&_img{
		text-align: center;
	}
}

@media screen and (max-width: 768px ) {
	.main{
		&_left{
			float: none;
			width: 100%;
		}
		&_right{
			float: none;
			width: 100%;
		}	
		&_caption{		  
			margin-left: 0;
		}
	}
}

.form {
	&_main{
		margin-left: 5%;
	  position: relative;
	  z-index: 1;
	  width: 350px;
	  float: left;
	  border-radius: 20px;
	  background-color: transparent;	  
	  padding: 30px 35px;
	  text-align: center;  
	  box-shadow: 0px 0px 9px rgba(255,255,255,0.5),
							  0px 0px 9px rgba(255,255,255,0.5)/* glow */, 
							  31px 39px 8px rgba(0,0,0,0.12)/* drop shadow*/;
	  &:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: -1;
	    opacity: 0.5;
	    border-radius: 20px;
	    background-color: #000;       
	  } 
	  
	}
	&_head {
	  display: block;
	  color: #fff;
	  font-size: 22px;
	  text-transform: uppercase;
	}
	&_heading {
	  display: block;
	  color: white;
	  font-size: 23px;
	  margin-bottom: 10px;
	}
  
  &_row{
  	width: 100%;
  	margin-bottom: 15px;
  }
  &_phone{
    margin-top: -10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    span{
      font-size: 25px;
    }
  }
  &_caption{
  	padding-left: 30px;
  	color: #fff;
  	float: left;
  	line-height: 1.5em;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 50px;
	border: 1px solid #1b8fc1;
	border-radius: 0;
	color: #9b9b9b;
	font-size: 17px;
	line-height: 19px;
	font-weight: 300;
	padding: 15px 50px;}

input[type="submit"] {
	box-sizing: border-box;
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 50px;
  background-color: #FFFF00;
  border-radius: 10px 9px 9px 10px;     
  font-size: 14px;
  line-height: 1.2em;
  color: #000;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: all .5s linear;
  margin-bottom: 50px;
  &:hover {
    background-color: transparent;
    border-color: #FFFF00;
    color: #fff;
  	}
 } 
    
.wpcf7-form-control-wrap .client-radio{
margin-left: -50px;
}
input[type="radio"] {
opacity:0;             
}
.wpcf7-list-item-label{
color: #fff;
margin-right: 30px;
}

input[type="radio"] + span::before {
display:inline-block;
width:20px;
height:20px;
margin:-1px 4px 0 -35px;
vertical-align:middle;
cursor:pointer;            
}
input[type="radio"] + span::before {
content: '';
background: url('images/checkbox.png') no-repeat center center;
}
input[type="radio"]:checked + span::before {
content: '';
background: url('images/checked.png') no-repeat center center;
}


@media screen and (max-width: 768px ) {

}

@media screen and (max-width: 480px ) {
	.form {
		&_main{
		  width: 75%;
		  margin: 0 auto;
		  float: none;		  
		}
		&_caption{
			padding-left: 0;
			float: none;
		}
	}	
	input[type="submit"] {
		font-size: 12px;
	}
}

.security{
	&_text{
		text-align: center;
		color: #fff;
		font-size: 21px;
		padding: 20px 0;
	}
		&_systems{
			float: left;
			width: 26%;
		}
		&_item{
			display: inline-block;
			width: 15%;
	    margin-right: 1%;
	    img{
	    	height: 20px;
	    }
		}
}
.partners {
	padding: 0.5em 0;
  background-color: #fff; }
  .partners_list {
    width: 100%;
    padding-left: 30px; }
  .partners_item {
    display: inline-block;
    width: 5.5%;
    margin-right: 1%; }

@media screen and (max-width: 768px) {
  .partners_list {
    padding-left: 8px; }
  .partners_item {
    display: inline-block;
    width: 17%;
    margin-right: 1%; } }

canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
